<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<plugin xmlns="http://www.supermap.com.cn/desktop" author="SuperMap" description="LayoutView Plugin" helpLocalRoot="..\Help\WebHelp\" helpOnlineRoot="http://support.supermap.com.cn/onlinedoc/deskpronet/" name="SuperMap.Desktop.LayoutView" url="www.supermap.com.cn">  
  <runtime bundleName="./Plugins/LayoutView/SuperMap.Desktop.LayoutView.dll" enabled="True"/>  
  <frameMenus> 
    <frameMenu formClass="" id="main" index="0" label="File" visible="true"> 
      <group id="Browser" index="2" label="Browse" visible="true"> 
        <!--<button checkState="false" customProperty="" helpURL="" image="../Resources/LayoutView/Menu/File/NewLayout.png" index="3" label="新建布局窗口" onAction="CtrlActionNewLayout" screenTip="新建一个布局窗口。" screenTipImage="" shortcutKey="" visible="true"/><!--> 
      </group> 
    </frameMenu>  
    <frameMenu formClass="SuperMap.Desktop.FormLayout" id="LayoutOperate" index="404" label="Layouts" visible="true"> 
      <group id="LayoutBrowser" index="1" label="Browse" visible="true"> 
        <buttonDropdown id="Select" image="../Resources/LayoutView/Menu/LayoutOperator/Select.png" index="0" label="Select" visible="true"> 
          <group id="" index="" label="" visible=""> 
            <button checkState="false" customProperty="" helpURL="" image="../Resources/LayoutView/Icon/LayoutOperate/LayoutBrowser/Select.png" index="0" label="Select" onAction="SuperMap.Desktop._CtrlActionLayoutSelect" screenTip="Select objects by clicking or dragging a box." screenTipImage="" shortcutKey="[S]" visible="true"/>  
            <button checkState="false" customProperty="" helpURL="" image="../Resources/LayoutView/Icon/LayoutOperate/LayoutBrowser/SelectCircle.png" index="0" label="Circle" onAction="SuperMap.Desktop._CtrlActionSelectCircle" screenTip="Draw a temporary circle by clicking twice to select objects contained in the circle." screenTipImage="" shortcutKey="" visible="true"/>  
            <button checkState="false" customProperty="" helpURL="" image="../Resources/LayoutView/Icon/LayoutOperate/LayoutBrowser/SelectPolygon.png" index="0" label="Polygon" onAction="SuperMap.Desktop._CtrlActionSelectRegion" screenTip="Draw a temporary polygon to select objects contained in the polygon." screenTipImage="" shortcutKey="" visible="true"/>  
            <button checkState="false" customProperty="" helpURL="" image="../Resources/LayoutView/Icon/LayoutOperate/LayoutBrowser/SelectLine.png" index="0" label="Line" onAction="SuperMap.Desktop._CtrlActionSelectLine" screenTip="Draw a temporary polygon to select objects contained in the polygon." screenTipImage="" shortcutKey="" visible="true"/> 
          </group> 
        </buttonDropdown>  
        <buttonDropdown id="Browse" image="../Resources/LayoutView/Menu/LayoutOperator/Browse.png" index="2" label="Browse" visible="true"> 
          <group id="" index="" label="" visible=""> 
            <button checkState="false" customProperty="" helpURL="Features/Layout/BrowseLayout/LayoutZoomInOut.htm" image="../Resources/LayoutView/Icon/LayoutOperate/LayoutBrowser/Zoomin.png" index="1" label="Zoom In" onAction="SuperMap.Desktop._CtrlActionZoomIn" screenTip="Zoon in the layout by clicking a point or dragging a box." screenTipImage="" shortcutKey="[Z]" visible="true"/>  
            <button checkState="false" customProperty="" helpURL="Features/Layout/BrowseLayout/LayoutZoomInOut.htm" image="../Resources/LayoutView/Icon/LayoutOperate/LayoutBrowser/Zoomout.png" index="2" label="Zoom Out" onAction="SuperMap.Desktop._CtrlActionZoomOut" screenTip="Zoom out the layout by clicking a point or dragging a box." screenTipImage="" shortcutKey="[X]" visible="true"/>  
            <button checkState="false" customProperty="" helpURL="Features/Layout/BrowseLayout/Panbutton.htm" image="../Resources/LayoutView/Icon/LayoutOperate/LayoutBrowser/Pan.png" index="0" label="Pan" onAction="SuperMap.Desktop._CtrlActionLayoutPan" screenTip="Pan the layout by clicking and dragging." screenTipImage="" shortcutKey="[A]" visible="true"/>  
            <button checkState="false" customProperty="" helpURL="Features/Layout/BrowseLayout/Panbutton.htm" image="../Resources/LayoutView/Icon/LayoutOperate/LayoutBrowser/PanSyn.png" index="0" label="Instant Pan" onAction="SuperMap.Desktop._CtrlActionLayoutPan2" screenTip="Pan the layout by clicking and dragging, and refresh layout in real-time." screenTipImage="" shortcutKey="" visible="true"/>  
            <buttonDropdown checkState="false" id="LayoutViewEntire" image="../Resources/LayoutView/Icon/LayoutOperate/LayoutBrowser/View_Full.png" index="6" label="Fit to Window" visible="true"> 
              <group id="" index="" label="" visible=""> 
                <button checkState="false" customProperty="" helpURL="Features/Layout\BrowseLayout\EntirePagebutton.htm" image="../Resources/LayoutView/Icon/LayoutOperate/LayoutBrowser/View_Full.png" index="0" label="Fit to Window" onAction="SuperMap.Desktop._CtrlActionViewFullPage" screenTip="Fit layout to window." screenTipImage="" shortcutKey="[F6]" visible="true"/>  
                <button checkState="false" customProperty="" helpURL="Features/Layout\BrowseLayout\WindowWidthbutton.htm" image="../Resources/LayoutView/Icon/LayoutOperate/LayoutBrowser/View_Width.png" index="1" label="Fit to Width" onAction="SuperMap.Desktop._CtrlActionViewFitWidth" screenTip="Fit layout to window width." screenTipImage="" shortcutKey="" visible="true"/>  
                <button checkState="false" customProperty="" helpURL="Features/Layout\BrowseLayout\WindowHeightbutton.htm" image="../Resources/LayoutView/Icon/LayoutOperate/LayoutBrowser/View_Height.png" index="2" label="Fit to Height" onAction="SuperMap.Desktop._CtrlActionViewFitHeight" screenTip="Fit layout to window height." screenTipImage="" shortcutKey="" visible="true"/> 
              </group> 
            </buttonDropdown> 
          </group>  
          <group id="" index="" label="" visible=""> 
            <button checkState="false" customProperty="" helpURL="Features/Layout/BrowseLayout/LayoutZoomInOut.htm" image="../Resources/LayoutView/Icon/LayoutOperate/LayoutBrowser/ZoomFree.png" index="0" label="Zoom Free" onAction="SuperMap.Desktop._CtrlActionZoomFree" screenTip="Free zoom the locked map." screenTipImage="" shortcutKey="[C]" visible="true"/>  
            <button checkState="false" customProperty="" helpURL="Features/Layout/BrowseLayout/LayoutZoomInOut.htm" image="../Resources/LayoutView/Icon/LayoutOperate/LayoutBrowser/ZoomFreeSyn.png" index="0" label="Instant Zoom Free" onAction="SuperMap.Desktop._CtrlActionZoomFree2" screenTip="Hold down the left mouse button and drag to zoom in or out the layout with the layout instantly refreshed." screenTipImage="" shortcutKey="" visible="true"/> 
          </group> 
        </buttonDropdown>  
        <!--<buttonDropdown id="Bookmark" image="../Resources/LayoutView/Icon/LayoutOperate/LayoutBrowser/Bookmark.png" index="4" label="书签" visible="true">
          <group id="" index="" label="" visible="">
            <button checkState="false" customProperty="" helpURL="Features/Visualization/Interaction/PreviousBookmark.htm" image="../Resources/LayoutView/Icon/Home/Window/LayoutViewSetting.png" index="11" label="添加书签" onAction="SuperMap.Desktop._CtrlActionBookmarkAdd" screenTip="使当前地图窗口中显示当前书签的前一书签所标记的地图视图。" screenTipImage="" shortcutKey="[F7]" visible="true"/>
            <button checkState="false" customProperty="" helpURL="Features/Visualization/Interaction/PreviousBookmark.htm" image="../Resources/LayoutView/Icon/Home/Window/LayoutViewSetting.png" index="12" label="书签管理" onAction="SuperMap.Desktop._CtrlActionBookmarkManager" screenTip="使当前地图窗口中显示当前书签的前一书签所标记的地图视图。" screenTipImage="" shortcutKey="[F7]" visible="true"/>
          </group>
          <group id="" index="" label="" visible="">
            <button checkState="false" customProperty="" helpURL="Features/Visualization/Interaction/PreviousBookmark.htm" image="../Resources/LayoutView/Icon/LayoutOperate/LayoutBrowser/Bookmark_Preview.png" index="11" label="前一书签" onAction="SuperMap.Desktop._CtrlActionPreView" screenTip="使当前地图窗口中显示当前书签的前一书签所标记的地图视图。" screenTipImage="" shortcutKey="[F7]" visible="true"/>
            <button checkState="false" customProperty="" helpURL="Features/Visualization/Interaction/NextBookmark.htm" image="../Resources/LayoutView/Icon/LayoutOperate/LayoutBrowser/Bookmark_Next.png" index="12" label="后一书签" onAction="SuperMap.Desktop._CtrlActionNextView" screenTip="使当前地图窗口中显示当前书签的后一书签所标记的地图视图。" screenTipImage="" shortcutKey="[F8]" visible="true"/>
          </group>
        </buttonDropdown>--> 
      </group>  
      <group id="MapOperate" index="2" label="Map Operation" visible="true"> 
        <buttonDropdown id="LayoutOperator" image="" index="4" label="Map Operation" visible="true"> 
          <group id="" index="" label="" visible=""> 
            <button checkState="false" customProperty="" helpURL="Features/Layout\MapOperation\LockMapbutton.htm" image="../Resources/LayoutView/Icon/LayoutOperate/MapOperate/LockMap.png" index="0" label="Focus Map" onAction="SuperMap.Desktop._CtrlActionMapLockMap" screenTip="Activate the map you want to work with." screenTipImage="" shortcutKey="" visible="true"/> 
          </group>  
          <group id="" index="" label="" visible=""> 
            <button checkState="false" customProperty="" helpURL="Features/Layout\MapOperation\Zoominbutton.htm" image="../Resources/LayoutView/Icon/LayoutOperate/MapOperate/Zoomin.png" index="0" label="Zoom In" onAction="CtrlActionMapZoomIn" screenTip="oom in the locked map by clicking or dragging." screenTipImage="" shortcutKey="[Z]" visible="true"/>  
            <button checkState="false" customProperty="" helpURL="Features/Layout\MapOperation\Zoomoutbutton.htm" image="../Resources/LayoutView/Icon/LayoutOperate/MapOperate/Zoomout.png" index="0" label="Zoom Out" onAction="CtrlActionMapZoomOut" screenTip="Zoom out of the locked map by clicking or dragging." screenTipImage="" shortcutKey="[X]" visible="true"/>  
            <button checkState="false" customProperty="" helpURL="Features/Layout/MapOperation/Panbutton.htm" image="../Resources/LayoutView/Icon/LayoutOperate/MapOperate/pan.png" index="0" label="Pan" onAction="CtrlActionMapPan" screenTip="Pan the locked map." screenTipImage="" shortcutKey="[A]" visible="true"/>  
            <button checkState="false" customProperty="" helpURL="Features/Layout\MapOperation\Zoomfreebutton.htm" image="../Resources/LayoutView/Icon/LayoutOperate/MapOperate/ZoomFree.png" index="0" label="Zoom Free" onAction="CtrlActionMapZoomFree" screenTip="Free zoom the locked map." screenTipImage="" shortcutKey="[C]" visible="true"/> 
          </group>  
          <group id="" index="" label="" visible=""> 
            <button checkState="false" customProperty="" helpURL="Features/Layout\MapOperation\EntireViewbutton.htm" image="../Resources/LayoutView/Icon/LayoutOperate/MapOperate/Entire.png" index="0" label="Zoom Out" onAction="CtrlActionLayoutViewEntire" screenTip="Zoom to the full extent of the locked map." screenTipImage="" shortcutKey="[F6]" visible="true"/> 
          </group>  
          <group id="" index="" label="" visible=""> 
            <button checkState="false" customProperty="" helpURL="Features/Layout\MapOperation\RefreshMapbutton.htm" image="../Resources/LayoutView/Icon/LayoutOperate/MapOperate/Refresh.png" index="0" label="Refresh" onAction="CtrlActionMapRefresh" screenTip="Refresh and display the locked map." screenTipImage="" shortcutKey="[F5]" visible="true"/> 
          </group> 
        </buttonDropdown> 
      </group>  
      <group id="PageSetting" index="3" label="Page Setup" visible="true"> 
        <buttonDropdown id="PaperOrientation" image="../Resources/LayoutView/Menu/LayoutOperator/PaperOrientation.png" index="1" label="Orientation" visible="true"> 
          <group id="" index="" label="" visible=""> 
            <button checkState="false" customProperty="" helpURL="Features/Layout\SettingPage\PaperOrientationbutton.htm" image="../Resources/LayoutView/Icon/PaperSetting/Paper/PaperOrientationVectical.png" index="0" label="Portrait" onAction="SuperMap.Desktop._CtrlActionPaperOrientationVectical" screenTip="Set layout page orientation to portrait." screenTipImage="" shortcutKey="" visible="true"/>  
            <button checkState="false" customProperty="" helpURL="Features/Layout\SettingPage\PaperOrientationbutton.htm" image="../Resources/LayoutView/Icon/PaperSetting/Paper/PaperOrientationHorizontal.png" index="0" label="Landscape" onAction="SuperMap.Desktop._CtrlActionPaperOrientationHorizontal" screenTip="Set layout page orientation to landscape." screenTipImage="" shortcutKey="" visible="true"/> 
          </group> 
        </buttonDropdown>  
        <buttonDropdown id="PaperSize" image="../Resources/LayoutView/Menu/LayoutOperator/PaperSize.png" index="2" label="Size" visible="true"> 
          <group id="" index="" label="" visible=""> 
            <buttonGallery checkState="false" image="../Resources/LayoutView/Icon/PaperSetting/Paper/PaperSize_Letter.png" index="0" label="Letter" onAction="SuperMap.Desktop._CtrlActionPaperSizeLetter" screenTip="" screenTipImage="" visible="true"/>  
            <buttonGallery checkState="false" image="../Resources/LayoutView/Icon/PaperSetting/Paper/PaperSize_Tabloid.png" index="0" label="Tabloid" onAction="SuperMap.Desktop._CtrlActionPaperSizeTabloid" screenTip="" screenTipImage="" visible="true"/>  
            <buttonGallery checkState="false" image="../Resources/LayoutView/Icon/PaperSetting/Paper/PaperSize_Legal.png" index="0" label="Legal" onAction="SuperMap.Desktop._CtrlActionPaperSizeLegal" screenTip="" screenTipImage="" visible="true"/>  
            <buttonGallery checkState="false" image="../Resources/LayoutView/Icon/PaperSetting/Paper/PaperSize_A3.png" index="0" label="A3" onAction="SuperMap.Desktop._CtrlActionPaperSizeA3" screenTip="" screenTipImage="" visible="true"/>  
            <buttonGallery checkState="false" image="../Resources/LayoutView/Icon/PaperSetting/Paper/PaperSize_A4.png" index="0" label="A4" onAction="SuperMap.Desktop._CtrlActionPaperSizeA4" screenTip="" screenTipImage="" visible="true"/>  
            <buttonGallery checkState="false" image="../Resources/LayoutView/Icon/PaperSetting/Paper/PaperSize_A5.png" index="0" label="A5" onAction="SuperMap.Desktop._CtrlActionPaperSizeA5" screenTip="" screenTipImage="" visible="true"/>  
            <buttonGallery checkState="false" image="../Resources/LayoutView/Icon/PaperSetting/Paper/PaperSize_B4.png" index="0" label="B4" onAction="SuperMap.Desktop._CtrlActionPaperSizeB4" screenTip="" screenTipImage="" visible="true"/>  
            <buttonGallery checkState="false" image="../Resources/LayoutView/Icon/PaperSetting/Paper/PaperSize_B5.png" index="0" label="B5" onAction="SuperMap.Desktop._CtrlActionPaperSizeB5" screenTip="" screenTipImage="" visible="true"/> 
          </group>  
          <group id="" index="" label="" visible=""> 
            <button checkState="false" image="../Resources/LayoutView/Icon/PaperSetting/Paper/Custom.png" index="0" label="More Paper Sizes..." onAction="SuperMap.Desktop._CtrlActionPaperSize" screenTip="Open the Paper Settings dialog box to configure advanced paper settings for the layout page." screenTipImage="" shortcutKey="" visible="true"/> 
          </group> 
        </buttonDropdown>  
        <buttonDropdown id="PaperMargin" image="../Resources/LayoutView/Menu/LayoutOperator/PaperMargin.png" index="3" label="Margins" visible="true"> 
          <group id="" index="" label="" visible=""> 
            <button checkState="false" image="../Resources/LayoutView/Icon/PaperSetting/Paper/Margin_Normal.png" index="0" label="Normal" onAction="SuperMap.Desktop._CtrlActionPaperMarginNormal" screenTip="" screenTipImage="" visible="true"/>  
            <button checkState="false" image="../Resources/LayoutView/Icon/PaperSetting/Paper/Mapgin_Narrow.png" index="0" label="Narrow" onAction="SuperMap.Desktop._CtrlActionPaperMarginNarrow" screenTip="" screenTipImage="" visible="true"/>  
            <button checkState="false" image="../Resources/LayoutView/Icon/PaperSetting/Paper/Mapgin_Middle.png" index="0" label="Moderate" onAction="SuperMap.Desktop._CtrlActionPaperMarginMiddle" screenTip="" screenTipImage="" visible="true"/>  
            <button checkState="false" image="../Resources/LayoutView/Icon/PaperSetting/Paper/Mapgin_Broad.png" index="0" label="Wide" onAction="SuperMap.Desktop._CtrlActionPaperMarginBroad" screenTip="" screenTipImage="" visible="true"/> 
          </group>  
          <group id="" index="" label="" visible=""> 
            <button checkState="false" image="../Resources/LayoutView/Icon/PaperSetting/Paper/Custom.png" index="0" label="Custom Margins..." onAction="SuperMap.Desktop._CtrlActionPaperMarginCustom" screenTip="Open the Paper Settings dialog box to configure advanced paper settings for the layout page." screenTipImage="" shortcutKey="" visible="true"/> 
          </group> 
        </buttonDropdown> 
      </group>  
      <group id="PageSetting" index="4" label="Page Settings" visible="true"> 
        <button checkState="false" customProperty="" helpURL="Features\Layout\SettiongLayoutWin\OffsetbSetuputton.htm" image="../Resources/LayoutView/Icon/PaperSetting/Layout/OffsetSetting.png" index="4" label="Offset Settings" onAction="SuperMap.Desktop._CtrlActionOffsetSetting" screenTip="Open Page setting dialog and set advance setting, e.g. vertical, horizontal page number and Offset setting." screenTipImage="" shortcutKey="" visible="true"/>  
        <button checkState="false" customProperty="" helpURL="Features\Layout\SettiongLayoutWin\OffsetbSetuputton.htm" image="../Resources/LayoutView/Icon/PaperSetting/Layout/OffsetSetting.png" index="4" label="Sheet Settings" onAction="SuperMap.Desktop._CtrlActionOffsetSetting" screenTip="Open Page setting dialog and set advance setting, e.g. vertical, horizontal page number and Offset setting." screenTipImage="" shortcutKey="" visible="true"/> 
      </group>  
      <group id="save" index="5" label="" visible="true"> 
        <button checkState="false" image="" index="1" label="Save Layout" onAction="CtrlActionLayoutSave" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>  
        <button checkState="false" image="" index="2" label="Save Layout As..." onAction="CtrlActionLayoutSaveAs" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>  
        <button checkState="false" image="" index="3" label="Save as Layout Template..." onAction="" screenTip="" screenTipImage="" shortcutKey="" visible="true"/> 
      </group>  
      <group id="FileOperate" index="6" label="File" visible="true"> 
        <buttonDropdown id="print" image="../Resources/LayoutView/Menu/LayoutOperator/Print.png" index="0" label="Print" visible="true"> 
          <group id="" index="" label="" visible=""> 
            <button checkState="false" customProperty="" helpURL="Features/Layout\Export\Printbutton.htm" image="../Resources/LayoutView/Icon/LayoutOperate/File/Print.png" index="0" label="Print..." onAction="SuperMap.Desktop._CtrlActionPrint" screenTip="Open the Print dialog and set the print parameters. Print the layout." screenTipImage="" shortcutKey="[Ctrl]+[P]" visible="true"/>  
            <button checkState="false" customProperty="" helpURL="Features/Layout\Export\Printbutton.htm" image="../Resources/LayoutView/Icon/LayoutOperate/File/DefaultPrint.png" index="0" label="Quick Print" onAction="SuperMap.Desktop._CtrlActionDefaultPrint" screenTip="Print the current layout." screenTipImage="" shortcutKey="" visible="true"/>  
            <button checkState="false" customProperty="" helpURL="Features/Layout\Export\Printbutton.htm" image="../Resources/LayoutView/Icon/LayoutOperate/File/PrintPreview.png" index="0" label="Print Preview" onAction="SuperMap.Desktop._CtrlActionPrintPreview" screenTip="Preview the print effect of the current layout." screenTipImage="" shortcutKey="" visible="true"/> 
          </group> 
        </buttonDropdown> 
      </group>  
      <group id="LayoutProperty" index="7" label="Layout Properties" visible="true"> 
        <button checkState="false" image="../Resources/LayoutView/Icon/Home/Window/LayoutProperty.png" index="0" label="Layout Properties" onAction="SuperMap.Desktop._CtrlActionLayoutProperty" screenTip="Open layout properties panel. Set current layout properties." screenTipImage="" shortcutKey="" visible="true"/> 
      </group> 
    </frameMenu>  
    <frameMenu formClass="SuperMap.Desktop.FormLayout" id="LayoutDraw" index="407" label="Object Operations" visible="true"> 
      <group id="GeometrySelect" index="2" label="Select" visible="true"> 
        <buttonDropdown id="MapEdit" image="../Resources/LayoutView/Menu/Geometry/GeometrySelect.png" index="3" label="Select" visible="true"> 
          <group id="Selection" index="3" label="Select" visible="true"> 
            <button checkState="true" customProperty="" helpURL="" index="0" label="Select All" onAction="CtrlActionSelectAll" screenTip="Select All" screenTipImage="" visible="true" width="0"/>  
            <button checkState="true" customProperty="" helpURL="" index="1" label="Select Reverse" onAction="CtrlActionSelectInvert" screenTip="Select Reverse" screenTipImage="" visible="true" width="0"/>  
            <button checkState="false" customProperty="" helpURL="" index="2" label="Select Cancel" onAction="CtrlActionSelectNone" screenTip="Select Cancel" screenTipImage="" visible="true" width="0"/> 
          </group> 
        </buttonDropdown>  
        <button checkState="false" image="" index="4" label="Fit to Window" onAction="CtrlActionElementViewEntire" screenTip="Fit to Window" screenTipImage="" shortcutKey="" visible="true"/> 
      </group>  
      <group id="" index="6" label="" visible=""> 
        <button checkState="false" customProperty="" helpURL="" image="" index="0" label="Properties" onAction="" screenTip="" screenTipImage="" shortcutKey="" visible="true"/> 
      </group> 
    </frameMenu> 
  </frameMenus>  
  <toolbars> 
    <toolbar formClass="SuperMap.Desktop.FormLayout" id="LayoutView" index="1" label="Layout Operation" rowIndex="0" visible="true"> 
      <button checkState="false" image="../Resources/LayoutView/Toolbar/LayoutOperator/Property.png" index="1" label="Properties" onAction="CtrlActionProperty" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>  
      <button checkState="false" image="../Resources/LayoutView/Toolbar/LayoutOperator/LockMap.png" index="2" label="Focus Map" onAction="CtrlActionLockMap" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>  
      <button checkState="false" image="../Resources/LayoutView/Toolbar/LayoutOperator/Print.png" index="3" label="Print" onAction="CtrlActionPrint" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>  
      <separator index="4"/>  
      <button checkState="false" customProperty="" helpURL="" image="../Resources/LayoutView/Toolbar/LayoutOperator/Select.png" index="5" label="Select" onAction="CtrlActionSelect" screenTip="Select by clicking or clicking and dragging." screenTipImage="" shortcutKey="[S]" visible="true"/>  
      <button checkState="false" customProperty="" helpURL="" image="../Resources/LayoutView/Toolbar/LayoutOperator/SelectCircle.png" index="6" label="Circle" onAction="CtrlActionSelectCircle" screenTip="Draw a temporary circle to select objects within it." screenTipImage="" shortcutKey="" visible="true"/>  
      <button checkState="false" customProperty="" helpURL="" image="../Resources/LayoutView/Toolbar/LayoutOperator/SelectRegion.png" index="7" label="Polygon" onAction="CtrlActionSelectRegion" screenTip="Draw a temporary polygon to select objects within it. Right click to end the drawing of the polygon." screenTipImage="" shortcutKey="" visible="true"/>  
      <button checkState="false" customProperty="" helpURL="" image="../Resources/LayoutView/Toolbar/LayoutOperator/SelectLine.png" index="8" label="Line" onAction="CtrlActionSelectLine" screenTip="Draw a temporary polyline to select objects intersecting with it.Right click to end the drawing of the polyline." screenTipImage="" shortcutKey="" visible="true"/>  
      <separator index="9"/>  
      <button checkState="false" customProperty="" helpURL="" image="../Resources/LayoutView/Toolbar/LayoutOperator/ZoomIn.png" index="10" label="Zoom In" onAction="CtrlActionZoomIn" screenTip="Zoom in the map." screenTipImage="" shortcutKey="[Z]" visible="true"/>  
      <button checkState="false" customProperty="" helpURL="" image="../Resources/LayoutView/Toolbar/LayoutOperator/ZoomOut.png" index="11" label="Zoom Out" onAction="CtrlActionZoomOut" screenTip="Zoom out the map." screenTipImage="" shortcutKey="[X]" visible="true"/>  
      <button checkState="false" customProperty="" helpURL="" image="../Resources/LayoutView/Toolbar/LayoutOperator/MapPan.png" index="12" label="Pan" onAction="CtrlActionMapPan" screenTip="Move the map by holding the left button of the mouse." screenTipImage="" shortcutKey="[A]" visible="true"/>  
      <button checkState="false" customProperty="" helpURL="" image="../Resources/LayoutView/Toolbar/LayoutOperator/MapPan2.png" index="13" label="Instant Pan" onAction="CtrlActionMapPan2" screenTip="Move the map by holding the left button of the mouse and refresh the map in real time." screenTipImage="" shortcutKey="" visible="true"/>  
      <button checkState="false" customProperty="" helpURL="" image="../Resources/LayoutView/Toolbar/LayoutOperator/LayoutViewEntire.png" index="14" label="Zoom Out" onAction="CtrlActionLayoutViewEntire" screenTip="Zoom to the full extent of the map." screenTipImage="" shortcutKey="[F6]" visible="true"/>  
      <separator index="15"/>  
      <button checkState="false" image="../Resources/LayoutView/Toolbar/LayoutOperator/PrevView.png" index="16" label="Front View" onAction="CtrlActionPrevView" screenTip="" screenTipImage="" shortcutKey="[C]" visible="true"/>  
      <button checkState="false" image="../Resources/LayoutView/Toolbar/LayoutOperator/NextView.png" index="17" label="Back View" onAction="CtrlActionNextView" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>  
      <separator index="18"/>  
      <button checkState="false" image="../Resources/LayoutView/Toolbar/LayoutOperator/PaperOrientation.png" index="20" label="Orientation" onAction="CtrlActionPaperOrientation" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>  
      <button checkState="false" image="../Resources/LayoutView/Toolbar/LayoutOperator/PaperSize.png" index="21" label="Size" onAction="CtrlActionPaperSize" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>  
      <button checkState="false" image="../Resources/LayoutView/Toolbar/LayoutOperator/PaperMargin.png" index="22" label="Margins" onAction="CtrlActionPaperMargin" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>  
      <button checkState="false" image="../Resources/LayoutView/Toolbar/LayoutOperator/OffsetSetting.png" index="23" label="Offset Settings" onAction="CtrlActionOffsetSetting" screenTip="" screenTipImage="" shortcutKey="" visible="true"/> 
    </toolbar> 
  </toolbars>  
  <dockbars> 
    <dockbar component="com.supermap.desktop.layoutview.propertycontrols.LayoutPropertyContainer" dockDirection="right" id="layoutPropertyContainer" title="Layout Properties" visible="false"/> 
  </dockbars>  
  <contextMenus> 
    <contextMenu id="SuperMap.Desktop.UI.WorkspaceControlManager.ContextMenuLayouts" index="55" label="Workspace Manager_Layout Collection"> 
      <group id="MapsSort" index="1" label="Layouts" visible="true"> 
        <button checkState="false" image="" index="0" label="New Layout" onAction="CtrlActionNewLayout" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>  
        <button checkState="false" image="" index="1" label="Load Layout Template..." onAction="SuperMap.Desktop._CtrlActionLoadTemplate" screenTip="From Open dialog, load a layout template.by layout template document(*.ult)." screenTipImage="" shortcutKey="" visible="true"/> 
      </group>  
      <group id="MapsSort2" index="2" label="Sort Layouts" visible="true"> 
        <button checkState="false" image="" index="2" label="Sort by Name" onAction="SuperMap.Desktop._CtrlActionLayoutSortName" screenTip="" screenTipImage="" shortcutKey="" visible="true"/> 
      </group> 
    </contextMenu>  
    <contextMenu id="SuperMap.Desktop.UI.WorkspaceControlManager.ContextMenuLayout" index="56" label="Workspace Manager_Layout"> 
      <group id="ContextMenuLayout1" index="0" label="Layout Operation" visible="true"> 
        <button checkState="false" image="" index="0" label="Open Layout" onAction="CtrlActionBrowserLayout" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>  
        <button checkState="false" image="" index="0" label="Save Layout As..." onAction="CtrlActionWorkspaceManagerLayoutSaveAs" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>  
        <button checkState="false" image="" index="0" label="Save as Layout Template..." onAction="SuperMap.Desktop._CtrlActionLayoutSaveAsTemplate" screenTip="" screenTipImage="" shortcutKey="" visible="true"/> 
      </group>  
      <group id="ContextMenuLayout2" index="1" label="Layout Operation" visible="true"> 
        <button checkState="false" image="" index="0" label="Delete Layout" onAction="SuperMap.Desktop._CtrlActionLayoutDelete" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>  
        <button checkState="false" image="" index="0" label="Rename" onAction="SuperMap.Desktop._CtrlActionLayoutRename" screenTip="" screenTipImage="" shortcutKey="" visible="true"/> 
      </group> 
    </contextMenu>  
    <contextMenu id="SuperMap.Desktop._FormLayout.FormLayoutContextMenu" index="57" label="Layout Window_Layout"> 
      <group id="LayoutBrowse" index="1" label="Browse" visible="true"> 
        <buttonDropdown id="LayoutBrowseDropDown" image="" index="0" label="Browse" visible="true"> 
          <group id="operate" index="0" label="" visible="true"> 
            <button checkState="false" image="" index="0" label="Zoom In" onAction="SuperMap.Desktop._CtrlActionZoomIn" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>  
            <button checkState="false" image="" index="0" label="Zoom Out" onAction="SuperMap.Desktop._CtrlActionZoomOut" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>  
            <button checkState="false" image="" index="0" label="Pan" onAction="SuperMap.Desktop._CtrlActionLayoutPan" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>  
            <button checkState="false" image="" index="0" label="Zoom Out" onAction="SuperMap.Desktop._CtrlActionViewFullPage" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>  
            <button checkState="false" image="" index="0" label="Partly Refresh" onAction="SuperMap.Desktop._CtrlActionLayoutIsRefreshInInvalidArea" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>  
            <button checkState="false" image="" index="0" label="Instant Refresh When Editing" onAction="SuperMap.Desktop._CtrlActionLayoutIsRefreshAtTracked" screenTip="" screenTipImage="" shortcutKey="" visible="true"/> 
          </group>  
          <group id="grid" index="0" label="" visible="true"> 
            <button checkState="false" image="" index="0" label="Show Grid" onAction="SuperMap.Desktop._CtrlActionGrids" screenTip="" screenTipImage="" shortcutKey="" visible="true"/> 
          </group> 
        </buttonDropdown> 
      </group>  
      <group id="LayoutOutput" index="2" label="Layout Output" visible="true"> 
        <button checkState="false" image="" index="0" label="Save Layout" onAction="CtrlActionLayoutSave" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>  
        <button checkState="false" image="" index="1" label="Save Layout As..." onAction="CtrlActionLayoutSaveAs" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>  
        <button checkState="false" image="" index="2" label="Save as Layout Template..." onAction="SuperMap.Desktop._CtrlActionSaveAsTemplate" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>  
        <button checkState="false" image="" index="4" label="Export to Picture..." onAction="SuperMap.Desktop._CtrlActionPrintToImageFile" screenTip="" screenTipImage="" shortcutKey="" visible="true"/> 
      </group>  
      <group id="LayoutOperationWnd" index="5" label="Rename" visible="true"> 
        <button checkState="false" image="" index="2" label="Rename..." onAction="SuperMap.Desktop._CtrlActionLayoutWindowRename" screenTip="" screenTipImage="" shortcutKey="" visible="true"/> 
      </group>  
      <group id="LayoutProperty" index="6" label="Properties" visible="true"> 
        <button checkState="false" image="" index="0" label="Properties" onAction="CtrlActionLayoutProperty" screenTip="" screenTipImage="" shortcutKey="" visible="true"/> 
      </group> 
    </contextMenu>  
    <contextMenu id="SuperMap.Desktop._FormLayout.LayoutElementsContextMenu" index="58" label="Layout Window_Multiple Types of Layout Elements"> 
      <group id="FullWnd" index="2" label="Fit to Window" visible="true"> 
        <button checkState="false" image="" index="0" label="Fit to Window" onAction="CtrlActionLayoutViewEntire" screenTip="" screenTipImage="" shortcutKey="" visible="true"/> 
      </group>  
      <group id="ObjProperty" index="6" label="Properties" visible="true"> 
        <button checkState="false" image="" index="0" label="Properties" onAction="CtrlActionLayoutProperty" screenTip="" screenTipImage="" shortcutKey="" visible="true"/> 
      </group> 
    </contextMenu>  
    <contextMenu id="SuperMap.Desktop._FormLayout.LayoutGeometryContextMenu" index="59" label="Layout Window_Selected Geometric Object "> 
      <group id="FullWnd" index="2" label="Fit to Window" visible="true"> 
        <button checkState="false" image="" index="0" label="Fit to Window" onAction="CtrlActionLayoutViewEntire" screenTip="" screenTipImage="" shortcutKey="" visible="true"/> 
      </group>  
      <group id="GeoStyle" index="3" label="Style Templates" visible="true"> 
        <button checkState="false" image="" index="0" label="Save as Style Template..." onAction="SuperMap.Desktop._CtrlActionOutputStyleTemplate" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>  
        <button checkState="false" image="" index="1" label="Load Style Template..." onAction="SuperMap.Desktop._CtrlActionInputStyleTemplate" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>  
        <button checkState="false" image="" index="2" label="Save to Style Template Library..." onAction="SuperMap.Desktop._CtrlActionSaveAsStyleTemplate" screenTip="" screenTipImage="" shortcutKey="" visible="true"/> 
      </group>  
      <group id="ObjProperty" index="6" label="Properties" visible="true"> 
        <button checkState="false" image="" index="0" label="Properties" onAction="SuperMap.Desktop._CtrlActionGeometryProperty" screenTip="" screenTipImage="" shortcutKey="" visible="true"/> 
      </group> 
    </contextMenu>  
    <contextMenu id="SuperMap.Desktop._FormLayout.LayoutTextObjContextMenu" index="60" label="Layout Window_Text Object"> 
      <group id="FullWnd" index="2" label="Fit to Window" visible="true"> 
        <button checkState="false" image="" index="0" label="Fit to Window" onAction="CtrlActionLayoutViewEntire" screenTip="" screenTipImage="" shortcutKey="" visible="true"/> 
      </group>  
      <group id="TextStyle" index="3" label="Style Templates" visible="true"> 
        <button checkState="false" image="" index="0" label="Load Style Template..." onAction="SuperMap.Desktop._CtrlActionInputStyleTemplate" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>  
        <button checkState="false" image="" index="1" label="Save as Style Template..." onAction="SuperMap.Desktop._CtrlActionOutputStyleTemplate" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>  
        <button checkState="false" image="" index="2" label="Save to Style Template Library..." onAction="SuperMap.Desktop._CtrlActionSaveAsStyleTemplate" screenTip="" screenTipImage="" shortcutKey="" visible="true"/> 
      </group>  
      <group id="ObjProperty" index="6" label="Properties" visible="true"> 
        <button checkState="false" image="" index="0" label="Properties" onAction="SuperMap.Desktop._CtrlActionGeometryProperty" screenTip="" screenTipImage="" shortcutKey="" visible="true"/> 
      </group> 
    </contextMenu>  
    <contextMenu id="SuperMap.Desktop._FormLayout.LayoutMapObjContextMenu" index="61" label="Layout Window_Map Object"> 
      <group id="FullWnd" index="2" label="Fit to Window" visible="true"> 
        <button checkState="false" image="" index="0" label="Fit to Window" onAction="CtrlActionLayoutViewEntire" screenTip="" screenTipImage="" shortcutKey="" visible="true"/> 
      </group>  
      <group id="MapOperate" index="3" label="Map Operation" visible="true"> 
        <button checkState="false" image="" index="0" label="Focus Map" onAction="SuperMap.Desktop._CtrlActionMapLockMap" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>  
        <buttonDropdown id="MapOperateDropDown" image="" index="0" label="Browse Map" visible="true"> 
          <group id="" index="" label="" visible=""> 
            <group id="operate" index="0" label="Browse Map" visible="true"> 
              <button checkState="false" customProperty="" helpURL="Features/Layout\MapOperation\Zoominbutton.htm" image="" index="0" label="Zoom In" onAction="CtrlActionMapZoomIn" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>  
              <button checkState="false" customProperty="" helpURL="Features/Layout\MapOperation\Zoomoutbutton.htm" image="../Resources/LayoutView/Icon/LayoutOperate/MapOperate/Zoomout.png" index="0" label="Zoom Out" onAction="CtrlActionMapZoomOut" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>  
              <button checkState="false" customProperty="" helpURL="Features/Layout\MapOperation\Zoomfreebutton.htm" image="../Resources/LayoutView/Icon/LayoutOperate/MapOperate/ZoomFree.png" index="0" label="Zoom Free" onAction="CtrlActionMapZoomFree" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>  
              <button checkState="false" customProperty="" helpURL="UseExplanation\Ribbon\tabs\layoutoperation\groups\mapoperation\PanButton.htm" image="../Resources/LayoutView/Icon/LayoutOperate/MapOperate/pan.png" index="0" label="Pan" onAction="CtrlActionMapPan" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>  
              <button checkState="false" customProperty="" helpURL="Features/Layout\MapOperation\EntireViewbutton.htm" image="../Resources/LayoutView/Icon/LayoutOperate/MapOperate/Entire.png" index="0" label="Zoom Out" onAction="CtrlActionLayoutViewEntire" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>  
              <button checkState="false" customProperty="" helpURL="Features/Layout\MapOperation\RefreshMapbutton.htm" image="../Resources/LayoutView/Icon/LayoutOperate/MapOperate/Refresh.png" index="0" label="Refresh" onAction="CtrlActionMapRefresh" screenTip="" screenTipImage="" shortcutKey="" visible="true"/> 
            </group> 
          </group> 
        </buttonDropdown> 
      </group>  
      <group id="ObjProperty" index="6" label="Properties" visible="true"> 
        <button checkState="false" image="" index="0" label="Properties" onAction="SuperMap.Desktop._CtrlActionMapProperty" screenTip="" screenTipImage="" shortcutKey="" visible="true"/> 
      </group> 
    </contextMenu>  
    <contextMenu id="SuperMap.Desktop._FormLayout.LayoutMapLegendObjContextMenu" index="62" label="Layout Window_Legend"> 
      <group id="FullWnd" index="2" label="Fit to Window" visible="true"> 
        <button checkState="false" image="" index="0" label="Fit to Window" onAction="CtrlActionLayoutViewEntire" screenTip="" screenTipImage="" shortcutKey="" visible="true"/> 
      </group>  
      <group id="ObjProperty" index="6" label="Properties" visible="true"> 
        <button checkState="false" image="" index="0" label="Properties" onAction="SuperMap.Desktop._CtrlActionMapLegendProperty" screenTip="" screenTipImage="" shortcutKey="" visible="true"/> 
      </group> 
    </contextMenu>  
    <contextMenu id="SuperMap.Desktop._FormLayout.LayoutMapScaleObjContextMenu" index="63" label="Layout Window_Scale"> 
      <group id="FullWnd" index="2" label="Fit to Window" visible="true"> 
        <button checkState="false" image="" index="0" label="Fit to Window" onAction="CtrlActionLayoutViewEntire" screenTip="" screenTipImage="" shortcutKey="" visible="true"/> 
      </group>  
      <group id="ObjProperty" index="6" label="Properties" visible="true"> 
        <button checkState="false" image="" index="0" label="Properties" onAction="SuperMap.Desktop._CtrlActionMapScaleProperty" screenTip="" screenTipImage="" shortcutKey="" visible="true"/> 
      </group> 
    </contextMenu>  
    <contextMenu id="SuperMap.Desktop._FormLayout.LayoutMapNorthArrowObjContextMenuMap" index="64" label="Layout Window_North Arrow"> 
      <group id="FullWnd" index="2" label="Fit to Window" visible="true"> 
        <button checkState="false" image="" index="0" label="Fit to Window" onAction="CtrlActionLayoutViewEntire" screenTip="" screenTipImage="" shortcutKey="" visible="true"/> 
      </group>  
      <group id="ObjProperty" index="6" label="Properties" visible="true"> 
        <button checkState="false" image="" index="0" label="Properties" onAction="SuperMap.Desktop._CtrlActionMapNorthArrowProperty" screenTip="" screenTipImage="" shortcutKey="" visible="true"/> 
      </group> 
    </contextMenu>  
    <contextMenu id="SuperMap.Desktop._FormLayout.LayoutGeoArtTextObjContextMenu" index="64" label="Layout Window_Selected Art Font"> 
      <group id="FullWnd" index="2" label="Fit to Window" visible="true"> 
        <button checkState="false" image="" index="0" label="Fit to Window" onAction="CtrlActionLayoutViewEntire" screenTip="" screenTipImage="" shortcutKey="" visible="true"/> 
      </group>  
      <group id="ObjProperty" index="6" label="Properties" visible="true"> 
        <button checkState="false" image="" index="0" label="Properties" onAction="SuperMap.Desktop._CtrlActionGeoArtTextProperty" screenTip="" screenTipImage="" shortcutKey="" visible="true"/> 
      </group> 
    </contextMenu>  
    <contextMenu id="SuperMap.Desktop._FormLayout.LayoutGeopictureContextMenu" index="59" label="Layout Window_Selected Picture Object"> 
      <group id="FullWnd" index="2" label="Fit to Window" visible="true"> 
        <button checkState="false" image="" index="0" label="Fit to Window" onAction="CtrlActionLayoutViewEntire" screenTip="" screenTipImage="" shortcutKey="" visible="true"/> 
      </group>  
      <group id="GeoStyle" index="3" label="Change Image" visible="true"> 
        <button checkState="false" image="" index="0" label="Change Image..." onAction="SuperMap.Desktop._CtrlActionUpdatepicture" screenTip="" screenTipImage="" shortcutKey="" visible="true"/> 
      </group>  
      <group id="ObjProperty" index="6" label="Properties" visible="true"> 
        <button checkState="false" image="" index="0" label="Properties" onAction="SuperMap.Desktop._CtrlActionGeometryProperty" screenTip="" screenTipImage="" shortcutKey="" visible="true"/> 
      </group> 
    </contextMenu> 
  </contextMenus>  
  <statusbars> 
    <statusbar formClass="com.supermap.desktop.FormLayout" id="Layout" visible="true"> 
      <label index="1" label="layout Name:" visible="true" width="100"/>  
      <textBox index="2" onAction="SuperMap.Desktop._CtrlActionMapMousePosition" readOnly="true" screenTip="" screenTipImage="" text="未命名布局" visible="true" width="0"/>  
      <textBox index="3" onAction="SuperMap.Desktop._CtrlActionMapMousePosition" readOnly="true" screenTip="" screenTipImage="" text="共10个对象，选中5个" visible="true" width="0"/>  
      <label index="5" label="Center:" visible="true" width="0"/>  
      <textBox index="6" onAction="SuperMap.Desktop._CtrlActionMapMousePosition" readOnly="true" screenTip="" screenTipImage="" text="0" visible="true" width="0"/>  
      <textBox index="7" onAction="SuperMap.Desktop._CtrlActionMapMousePosition" readOnly="true" screenTip="" screenTipImage="" text="0" visible="true" width="0"/>  
      <label index="8" label="Display Scale:" visible="true" width="0"/>  
      <comboBox customProperty="" helpURL="" id="Scale" image="" index="9" label="" onAction="SuperMap.Desktop._CtrlActionMapScale" screenTip="" screenTipImage="" visible="true" width="180"> 
        <item customProperty="" image="" index="0" label="5%"/>  
        <item customProperty="" image="" index="0" label="10%"/>  
        <item customProperty="" image="" index="0" label="20%"/>  
        <item customProperty="" image="" index="0" label="40%"/>  
        <item customProperty="" image="" index="0" label="80%"/>  
        <item customProperty="" image="" index="0" label="100%"/>  
        <item customProperty="" image="" index="0" label="120%"/>  
        <item customProperty="" image="" index="0" label="150%"/>  
        <item customProperty="" image="" index="0" label="200%"/>  
        <item customProperty="" image="" index="0" label="3000%"/>  
        <item customProperty="" image="" index="0" label="400%"/>  
        <item customProperty="" image="" index="0" label="800%"/>  
        <item customProperty="" image="" index="0" label="1600%"/>  
        <item customProperty="" image="" index="0" label="3200%"/>  
        <item customProperty="" image="" index="0" label="6400%"/>  
        <item customProperty="" image="" index="0" label="Custom Scale"/> 
      </comboBox> 
    </statusbar> 
  </statusbars> 
</plugin>
