<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<plugin xmlns="http://www.supermap.com.cn/desktop" name="SuperMap.Desktop.DataConversion" author="SuperMap" url="www.supermap.com.cn" description="DataConversion Plugin" helpLocalRoot="..\Help\WebHelp\" helpOnlineRoot="http://support.supermap.com.cn/onlinedoc/deskpronet/">  
  <runtime bundleName="./Plugins/DataEditor/SuperMap.Desktop.DataConversion.dll" enabled="True"/>  
  <ribbons> 
    <ribbon index="0" id="start" label="Start" formClass="" visible="true"> 
      <group index="4" id="DataProcess" label="Data Processing" visible="true"> 
        <button id="dataImport" index="0" label="Data Import" visible="true" checkState="false" onAction="CtrlActionDataImport" image="../Resources/DataConversion/Icon/Datasource/Import/Import.large.png" shortcutKey="" screenTip="Import supported data in a variety of formats." screenTipImage="" helpURL="Features/DataProcessing/DataConversion/ImportData.htm" customProperty=""/>  
        <button id="dataExport" index="1" label="Data Export " visible="true" checkState="false" onAction="CtrlActionDataExport" image="../Resources/DataConversion/Icon/Datasource/Export/Export.large.png" shortcutKey="" screenTip="Export data to other formats." screenTipImage="" helpURL="Features/DataProcessing/DataConversion/ExportData.htm" customProperty=""/> 
      </group> 
    </ribbon> 
  </ribbons>  
  <frameMenus> 
    <frameMenu index="10" id="Dataset" label="Dataset" formClass="" visible="true"> 
      <group index="3" id="Data" label="Data" visible="true"> 
        <button index="0" label="Data Import..." visible="true" checkState="false" onAction="CtrlActionDataImport" image="../Resources/DataConversion/Icon/Datasource/Import/Import.png" shortcutKey="" screenTip="Import the supported data formats.Click the button to show the drop down list and select the import data format." screenTipImage="" helpURL="Features/DataProcessing/DataConversion/ImportData.htm" customProperty=""/>  
        <button index="1" label="Data Export ..." visible="true" checkState="false" onAction="CtrlActionDataExport" image="../Resources/DataConversion/Menu/Export.png" shortcutKey="" screenTip="Export the data as other formats.Click the button to show the format list and choose the export format." screenTipImage="" helpURL="Features/DataProcessing/DataConversion/ExportData.htm" customProperty=""/> 
      </group> 
    </frameMenu>  
    <frameMenu index="300" id="Tabular" label="Attributes" formClass="SuperMap.Desktop._FormTabular" visible="true"> 
      <group index="0" id="Output" label="Export..." visible="true"/> 
    </frameMenu> 
  </frameMenus>  
  <dockbars/>  
  <statusbars/>  
  <contextMenus> 
    <contextMenu index="2" label="Workapace Manager_Datasource" id="SuperMap.Desktop.UI.WorkspaceControlManager.ContextMenuDatasource"> 
      <group index="0" id="DatasetOperate" label="Import Dataset" visible="true"> 
        <button index="2" label="Import Dataset..." visible="true" checkState="false" onAction="CtrlActionDataImport" image="" shortcutKey="" screenTip="" screenTipImage=""/>  
        <button index="3" label="Export Dataset..." visible="true" checkState="false" onAction="CtrlActionDataExport" image="../Resources/DataConversion/Menu/Export.png" shortcutKey="" screenTip="" screenTipImage=""/> 
      </group> 
    </contextMenu>  
    <contextMenu index="3" label="Workapace Manager_Vector Datsest" id="SuperMap.Desktop.UI.WorkspaceControlManager.ContextMenuDatasetVector"> 
      <group index="3" id="CopyDatasets" label="Export Dataset" visible="true"> 
        <button index="1" label="Export Dataset..." visible="true" checkState="false" onAction="CtrlActionDataExport" image="../Resources/DataConversion/Menu/Export.png" shortcutKey="" screenTip="" screenTipImage=""/> 
      </group> 
    </contextMenu>  
    <contextMenu index="5" label="Workapace Manager_Raster Datsest" id="SuperMap.Desktop.UI.WorkspaceControlManager.ContextMenuDatasetGrid"> 
      <group index="2" id="CopyDatasets" label="Export Dataset" visible="true"> 
        <button index="1" label="Export Dataset..." visible="true" checkState="false" onAction="CtrlActionDataExport" image="../Resources/DataConversion/Menu/Export.png" shortcutKey="" screenTip="" screenTipImage=""/> 
      </group> 
    </contextMenu>  
    <contextMenu index="4" label="Workapace Manager_Tabular Dataset" id="SuperMap.Desktop.UI.WorkspaceControlManager.ContextMenuDatasetTabular"> 
      <group index="1" id="CopyDatasets" label="Export Dataset" visible="true"> 
        <button index="1" label="Export Dataset..." visible="true" checkState="false" onAction="CtrlActionDataExport" image="../Resources/DataConversion/Menu/Export.png" shortcutKey="" screenTip="" screenTipImage=""/> 
      </group> 
    </contextMenu>  
    <contextMenu index="6" label="Workapace Manager_Image Dataset" id="SuperMap.Desktop.UI.WorkspaceControlManager.ContextMenuDatasetImage"> 
      <group index="2" id="CopyDatasets" label="Export Dataset" visible="true"> 
        <button index="1" label="Export Dataset..." visible="true" checkState="false" onAction="CtrlActionDataExport" image="../Resources/DataConversion/Menu/Export.png" shortcutKey="" screenTip="" screenTipImage=""/> 
      </group> 
    </contextMenu>  
    <contextMenu index="7" label="Workapace Manager_Multiple Types of Datasets" id="SuperMap.Desktop.UI.WorkspaceControlManager.ContextMenuDataset"> 
      <group index="2" id="CopyDatasets" label="Export Dataset" visible="true"> 
        <button index="1" label="Export Dataset..." visible="true" checkState="false" onAction="CtrlActionDataExport" image="../Resources/DataConversion/Menu/Export.png" shortcutKey="" screenTip="" screenTipImage=""/> 
      </group> 
    </contextMenu>  
    <contextMenu index="3" label="Workapace Manager_Vector Dataset Collection" id="SuperMap.Desktop.UI.WorkspaceControlManager.ContextMenuDatasetVectorItem"> 
      <group index="3" id="CopyDatasets" label="Export Dataset" visible="true"> 
        <button index="1" label="Export Dataset..." visible="true" checkState="false" onAction="CtrlActionDataExport" image="../Resources/DataConversion/Menu/Export.png" shortcutKey="" screenTip="" screenTipImage=""/> 
      </group> 
    </contextMenu> 
  </contextMenus> 
</plugin>
