<?xml version="1.0" encoding="utf-8" standalone="no"?>
<plugin xmlns="http://www.supermap.com.cn/desktop" author="SuperMap" description="Assistance Plugin" helpLocalRoot="..\Help\WebHelp\" helpOnlineRoot="http://support.supermap.com.cn/onlinedoc/deskpronet/" name="SuperMap.Desktop.Assistance" url="www.supermap.com.cn">
    <runtime bundleName="./Plugins/Assistance/SuperMap.Desktop.Assistance.dll" enabled="True"/>

    <startMenus>
        <startMenu id="help" index="8" onAction="CtrlActionHelp" label="帮助..."/>
    </startMenus>
    <ribbons>
        <ribbon formClass="" id="Help" index="22" label="帮助" visible="true">
            <group id="Help" index="1" label="帮助" visible="true">
                <button checkState="false" customProperty="" helpURL="" image="../Resources/Assistance/Icon/AboutMe.png" index="1" label="联机帮助" onAction="CtrlActionHelp" screenTip="联机帮助" screenTipImage="" shortcutKey="" visible="true"/>
                <button checkState="false" customProperty="" helpURL="" image="../Resources/Assistance/Icon/TechnicalSupport.png" index="2" label="技术支持" onAction="CtrlActionTechnicalSupport" screenTip="技术支持" screenTipImage="" shortcutKey="" visible="true"/>
                <button checkState="false" customProperty="" helpURL="" image="../Resources/Assistance/Icon/Developer.png" index="3" label="开发社区" onAction="CtrlActionDeveloper" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
                <button checkState="false" customProperty="" helpURL="" image="../Resources/Assistance/Icon/AboutCross.png" index="4" label="关于 SuperMap iDesktop Cross 9D" onAction="CtrlActionAbout" screenTip="关于 SuperMap iDesktop Cross 9D" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
        </ribbon>
    </ribbons>
    <frameMenus>
        <frameMenu formClass="" id="Help" index="22" label="帮助" visible="true">
            <group id="Help" index="1" label="帮助" visible="true">
                <button checkState="false" customProperty="" helpURL="" image="../Resources/Assistance/Menu/Help/Help.png" index="1" label="联机帮助" onAction="CtrlActionHelp" screenTip="联机帮助" screenTipImage="" shortcutKey="" visible="true"/>
                <button checkState="false" customProperty="" helpURL="" image="" index="2" label="技术支持" onAction="CtrlActionTechnicalSupport" screenTip="技术支持" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
            <group id="Help" index="2" label="Share" visible="true">
                <button checkState="false" customProperty="" helpURL="" image="../Resources/Assistance/Menu/Help/VersionUpdate.png" index="1" label="开发社区" onAction="CtrlActionDeveloper" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
            <group id="About" index="3" label="" visible="true">
                <button checkState="false" customProperty="" helpURL="" image="../Resources/Assistance/Menu/Help/About.png" index="2" label="关于 SuperMap iDesktop Cross 9D" onAction="CtrlActionAbout" screenTip="关于 SuperMap iDesktop Cross 9D" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
        </frameMenu>
    </frameMenus>
    <toolbars>
        <toolbar id="main" index="0" label="标准" rowIndex="0" visible="true">
            <button checkState="false" image="../Resources/Frame/Toolbar/Home/Help.png" index="18" label="帮助" onAction="CtrlActionHelp" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        </toolbar>
    </toolbars>
    <dockbars/>
    <contextMenus>

    </contextMenus>

</plugin>
